.icon {
  background: url("../img/address.png") no-repeat;
}

.content-text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-text .title {
  font-size: 30px;
  color: #222222;
}

.content-text .content {
  font-size: 14px;
  color: #2b2b2b;
}

.address-wrapper .address .address-item {
  font-size: 16px;
  line-height: 26px;
  color: #24282f;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.address-wrapper .address .address-item .wrapper {
  display: inline-block;
}

.address-wrapper .address .address-item .wrapper p {
  width: 220px;
  float: left;
  margin-left: 5px;
}

.address-wrapper .address .address-item .wrapper .icon {
  float: left;
  width: 30px;
  height: 30px;
  background-position: 0 0;
}

.address-wrapper .address .address-item:nth-of-type(2) .wrapper .icon {
  background-position: 0 -37px;
}

.address-wrapper .address .address-item:nth-of-type(3) .wrapper .icon {
  background-position: 0 -72px;
}

.map-wrapper iframe {
  width: 100%;
  min-height: 300px;
}
